{% extends 'layout.html' %}

{% block content %}
    <form>
        <label>Text: <input type="text" required autofocus maxlength="10" name=""></label><br>
        <label>URL:<input type="url" name=""></label><br>
        <label>Email: <input type="email" disabled name=""></label><br>
        <label>Password: <input type="password" name=""></label><br>
        <label>Search: <input type="search" name=""></label><br>
        <label>Number: <input type="number" name=""></label><br>
        <label>Range: <input type="range" name=""></label><br>
        <label>Tel: <input type="tel" name=""></label><br>
        <label>Date: <input type="date" name=""></label><br>
        <label>Time: <input type="time" name=""></label><br>
        <label>Month: <input type="month" name=""></label><br>
        <label>Week: <input type="week" name=""></label><br>
        <label>Datetime: <input type="datetime" name=""></label><br>
        <label>Datetime-Local: <input type="datetime-local" name=""></label><br>
        <label>Checkbox: <input type="checkbox" name=""></label><br>
        <label>Radio: <input type="radio" name=""></label><br>
        <label>Button: <input type="button" name=""></label><br>
        <label>Color: <input type="color" name=""></label><br>
        <label>File: <input type="file" multiple name=""></label><br>
        <label>Hidden: <input type="hidden" name=""></label><br>
        <label>Submit: <input type="submit" name=""></label><br>
        <label>Reset: <input type="reset" name=""></label><br>
        <label>Image: <input type="image" src="http://www.freeiconspng.com/uploads/submit-button-png-21.png" name=""></label><br>
    </form>
{% endblock %}
